* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
}

.game-board {
    width: 100%;
    height: 730px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
    padding-top: 20px;
}

.chao {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px; 
    background: linear-gradient(#1adb00, #1a7700);
    z-index: 0;
}

.pontos{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 300px;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 3px 1px 2px rgb(0, 0, 0);
    user-select: none;
    right: 45%;
    color: rgb(255, 13, 13);
    }

#pontuacaoFlutuante {
    position: absolute;
    color: rgb(0, 255, 0);
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 0px black;
    animation: flutuar 1s ease-out forwards;
    pointer-events: none;
    font-family: 'Press Start 2P', cursive;
    z-index: 4;
}

.fogo {
    position: absolute;
    bottom: 5px;
    width: 80px;
    animation: fogo-animation 1.5s infinite linear;
    margin: 20px;
    display: none;
    transition: all 1s ease-out;
    user-select: none;
}
.berry {
  position: absolute; 
  bottom: 120px;         
  width: 40px;        
  height: 40px;
  animation: berry-animation 5s linear infinite;
  z-index: 5;
  display: none;
    user-select: none;
}


.charizard {
    position: absolute;
    bottom: 0px;
    width: 170px;
    right: -80px;
    user-select: none;
}

.red {
    position: absolute;
    width: 60px;
    bottom: 1%;
    left: 80px;
    transition: left 3s linear, bottom 1s ease-out;
    user-select: none;
}
.jump {
    animation: red-jump 500ms ease-out;
}


.pokeball {
    margin-right: 170px;
    position: absolute;
    width: 30px;
    bottom: 80px;
    right: 20px;
    display: none;
    z-index: 999;
    transition: all 1s ease-out;
    user-select: none;
}


.clouds {
    position: absolute;
    width: 450px;
    animation: clouds-animation 10s infinite linear;
    margin-top: 100px;
    user-select: none;
}

.TelaComeco {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: white;
}

.TelaComeco p {
    font-size: 20px;
    margin-bottom: 20px;
    user-select: none;
}

.TelaComeco button {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
    display: block;
    font-family: 'Press Start 2P', cursive;
    user-select: none;
}

.TelaComeco button:hover {
    background-color: #218838;
}

.telaVitoria  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: white;
}

.telaVitoria p {
    font-size: 20px;
    margin-bottom: 20px;
    user-select: none;
}

.telaVitoria button  {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
    display: block;
    font-family: 'Press Start 2P', cursive;
    user-select: none;
}

.telaVitoria button:hover  {
    background-color: #218838;
}

.telaMorte{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: white;    
}
.telaMorte p {
    font-size: 20px;
    margin-bottom: 20px;
    user-select: none;
}

.telaMorte button{
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
    display: block;
    font-family: 'Press Start 2P', cursive;
    user-select: none;
}

.telaMortebutton:hover {
    background-color: #218838;
}


@keyframes fogo-animation {
    from {
        right: 0;
    }
    to {
        right: 100%;
    }
}


@keyframes clouds-animation {
    from {
        right: -700px;
    }
    to {
        right: 100%;
    }
}

@keyframes red-jump {
    0% {
        bottom: 10px;
    }
    40%, 50%, 60% {
        bottom: 150px;
    }
    100% {
        bottom: 10px;
    }
}
@keyframes berry-animation {
  0% {
    left: 100%; 
  }
  100% {
    left: -50%;  
  }
}


@keyframes flutuar {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}